<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ITEA-JS ADVANCED - LESSON 9</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }
    </style>
</head>

<body>
    <h1>AJAX in Javascript</h1>
    <div id="target">

    </div>

    <!-- <script src="js/renderImage.js"></script> -->
    <!-- <script src="js/xmlHttprequest.js"></script> -->
    <!-- <script src="js/callbacks.js"></script> -->
    <!-- <script src="js/promises.js"></script> -->
    <script type="text/javascript">
        // function greeting(name) {
        //   alert('Hello ' + name);
        // }

        // function processUserInput(callback) {
        //   var name = prompt('Please enter your name.');
        //   callback(name);
        // }

        // processUserInput(greeting);

        function FetchJson() {

            let url = 'http://www.json-generator.com/api/json/get/bVCnBbyHPC?indent=2';
            // let options = {

            //   method: 'GET', 
            //   name: '{{firstName()}} {{surname()}}',

            //   mode: 'no-cors',

            // };
            fetch(url).then(
                (data) => {
                    return data.json();
                }
            ).then(
                (arrProm) => {
                    console.log(arrProm);
                    let x = [];
                    arrProm.forEach((item) => {
                        x.push({
                            name: item.name,
                            age: item.age,
                            friends: item.friends,
                        })
                    })
                    return x;
                }
            ).then(
                (buttons) => {
                    console.log('formated', buttons);
                    var button = document.createElement("button");
                    document.body.appendChild(button);
                    button.innerText = "Request for friend-list of everyone";
                    var table = document.createElement("div");

                    var clone = [];

                    for (var key in buttons) {

                        for (var i = 0; i < buttons[key].friends.length; i++) {
                            clone[key] = buttons[key];
                            // console.log(clone[key]);
                        }
                    }

                    button.onclick = function() {

                        for (var key in buttons) {

                            document.write(buttons[key].name + " " + buttons[key].age + " years old. Friend-list: " + clone[key].friends[0].name + ", " + clone[key].friends[1].name + ", " + clone[key].friends[2].name + "<br/>");

                        }


                    }

                }

            )

        }
        FetchJson();

        // Сделать запрос на всех друзей для каждого человека.
    </script>
</body>

</html>